 
 #taxonomy-brands{
    width: 10%;
}

.meta-box-sortables.ui-sortable    #taxonomy-brands  
{ width: unset;
}

.redux-banner-content-container , .redux-banner-inner-container{
   display: none !important;
}

 
.quantity input::-webkit-outer-spin-button,
   .quantity input::-webkit-inner-spin-button {
       display: none;
       margin: 0;
   }

.quantity input.qty {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
}
.wpclever-notice.notice{
   display: none!important;
}
 
/*--- redux ----*/
:root{
--vankine-color-brand: #008BF9;
--vankine-color-brand-dark: #0F3567;
--vankine-color-brand-2: #36619A;
--vankine-color-white:#fff;
--vankine-color-dark:#253D4E;
--vankine-border-color: #ececec;
} 
/*--vankine_column_half_menu ---*/

.vankine_column_half_menu {
   position: relative;
}
.megmenuvancutom{
  width: 47%;
  float: left;
  padding-top: 0px!important;
  margin-top: 0px!important;
}
.displudroncutom{
   padding-top: 0px!important;
   margin-top: 0px!important;
}
.csdline{
   padding: 1px 0px;
   border: 1px solid #eee;
}
 
.image_style_choose{
   padding-top: 0px!important;
   margin-top: 0px!important;
   width: 47%;
   float: left;
}
.image_type_desc{
   padding-bottom: 0px!important;
   margin-bottom: 5px!important;
}
.vankine_same_call  label{
   width: 100%;
   display: block;
}
.upload-custom-img , .delete-custom-img  {
   padding: 5px 13px 7px;
   margin-bottom: 3px;
   background: var(--vankine-color-brand);
   color: #fff!important;
   display: inline-block;
   border-radius: 5px;
}
.delete-custom-img {
   background: var(--vankine-color-brand-2);
}
.delete-custom-img.hidden , .upload-custom-img.hidden{
   display: none!important;
}